@model FlightsManager.Models.Web.Flights.IndexFlightViewModel
@{
    bool isLoggedIn = (bool)ViewData["isLoggedIn"];
    string unm = (string)ViewData["username"];
    if (isLoggedIn)
    {
        <p>Welcome, <strong style="color:darkred;">@unm</strong>!</p>
        <a type="button" class="btn btn-dark" asp-area="" asp-controller="Employee" asp-action="LogOut">LogOut</a>
    }

    FlightsManager.Models.Data.FlightsManagerContext _context = new FlightsManager.Models.Data.FlightsManagerContext();
}

<a asp-action="Create" class="btn btn-light">Create New</a>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Location From
            </th>
            <th>
                Location To
            </th>
            <th>
                TakeOff Date
            </th>
            <th>
                Landing Date
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => _context.LivingPlaces.Find(_context.Addresses.Find(item.LocationFromId).LivingPlaceId).Name), @Html.DisplayFor(modelItem => _context.Countries.Find(_context.Addresses.Find(item.LocationFromId).CountryId).Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => _context.LivingPlaces.Find(_context.Addresses.Find(item.LocationToId).LivingPlaceId).Name), @Html.DisplayFor(modelItem => _context.Countries.Find(_context.Addresses.Find(item.LocationToId).CountryId).Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TakeOffDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LandingDateTime)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
    <ul class="pagination">
        @for (var i = 1; i <= Model.Pager.PagesCount; i++)
        {
            <li class="page-item @(i == Model.Pager.CurrentPage ? "active" : "")">
                <a asp-route-Pager.CurrentPage="@i" class="page-link">@i</a>
            </li>
        }
    </ul>
</table>

