@model FlightsManager.Models.Data.Flight
@{
    bool isLoggedIn = (bool)ViewData["isLoggedIn"];
    string unm = (string)ViewData["username"];
    if (isLoggedIn)
    {
        <p>Welcome, @unm!</p>
        <a type="button" asp-area="" asp-controller="Employee" asp-action="LogOut">LogOut</a>
    }

    var flight = ViewData["Flight"] as FlightsManager.Models.Data.Flight;
    var locationFrom = ViewData["LocationFrom"] as string;
    var locationTo = ViewData["LocationTo"] as string;
    var duration = (flight.LandingDateTime - flight.TakeOffDateTime).TotalMinutes + " mins.";

    var passagersNames = ViewData["passagers"] as string;
}
<h1>Flight Information</h1>
<table class="table">
    <tr class="d-table-row">
        <th class="table-active">
            <p>Location From:</p>
        </th>
        <td>
            <p>@locationFrom</p>
        </td>
    </tr>
    <tr>
        <th class="table-active">
            <p>Location To:</p>
        </th>
        <td>
            <p>@locationTo</p>
        </td>
    </tr>
    <tr>
        <th class="table-active">
            <p>Take Off Date:</p>
        </th>
        <td>
            <p>@flight.TakeOffDateTime</p>
        </td>
    </tr>
    <tr>
        <th class="table-active">
            <p>Duration:</p>
        </th>
        <td>
            <p>@duration</p>
        </td>
    </tr>
    <tr>
        <th class="table-active">
            <p>Passagers:</p>
        </th>
        <td>
            <p>@passagersNames</p>
        </td>
    </tr>
</table>
<a type="button" name="backToAllFlightsBtn" class="btn btn-light" asp-area="" asp-controller="Flight" asp-action="Index">Back</a>