@model FlightsManager.Models.Web.Flights.EditFlightViewModel
@{
    ViewData["Title"] = "Edit";

    bool isLoggedIn = (bool)ViewData["isLoggedIn"];
    string unm = (string)ViewData["username"];
    if (isLoggedIn)
    {
        <p>Welcome, <strong style="color:darkred;">@unm</strong>!</p>
        <a type="button" class="btn btn-dark" asp-area="" asp-controller="Employee" asp-action="LogOut">LogOut</a>
    }

    var plane = ViewData["plane"] as FlightsManager.Models.Data.Plane;
    var flight = ViewData["flight"] as FlightsManager.Models.Data.Flight;

    FlightsManager.Models.Data.FlightsManagerContext ctx = new FlightsManager.Models.Data.FlightsManagerContext();
    string locFrom = ctx.LivingPlaces.Find(ctx.Addresses.Find(flight.LocationFromId).LivingPlaceId).Name + ", " + ctx.Countries.Find(ctx.Addresses.Find(flight.LocationFromId).CountryId).Name;
    string locTo = ctx.LivingPlaces.Find(ctx.Addresses.Find(flight.LocationToId).LivingPlaceId).Name + ", " + ctx.Countries.Find(ctx.Addresses.Find(flight.LocationToId).CountryId).Name;
    List<FlightsManager.Models.Data.Address> addrs = ctx.Addresses.Where(a => a.AddressTypeId == 2).ToList();
    List<FlightsManager.Models.Data.Plane> planes = ctx.Planes.ToList();
    List<int> addrsFromIds = new List<int>();
    List<int> addrsToIds = new List<int>();
    List<int> planesIds = new List<int>();

    List<string> addrsFromNames = new List<string>();
    List<string> addrsToNames = new List<string>();
    List<string> planesNames = new List<string>();
    foreach (FlightsManager.Models.Data.Address item in addrs)
    {
        addrsFromIds.Add(item.Id);
        addrsFromNames.Add(ctx.LivingPlaces.Find(item.LivingPlaceId).Name + ", " + ctx.Countries.Find(item.CountryId).Name);

        addrsToIds.Add(item.Id);
        addrsToNames.Add(ctx.LivingPlaces.Find(item.LivingPlaceId).Name + ", " + ctx.Countries.Find(item.CountryId).Name);
    }
    foreach (FlightsManager.Models.Data.Plane item2 in planes)
    {
        planesIds.Add(item2.Id);
        planesNames.Add(item2.UniquePlaneNumber);
    }

    List<FlightsManager.Models.Data.Plane> allPlanes = ViewData["allPlanes"] as List<FlightsManager.Models.Data.Plane>;
    var duration = (flight.LandingDateTime - flight.TakeOffDateTime).TotalMinutes + " mins";
}

<hr />
<h2>Edit Flight</h2>
<form method="post" class="container-fluid" asp-controller="Flight" asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <table class="table">
        <thead>
            <tr class="d-table-row">
                <th class="col-12">
                    <p>Flight Information</p>
                </th>
            </tr>
            <tr class="d-table-row">
                <th class="table-active col-6">
                    <p>Information</p>
                </th>
                <th class="table-active col-6">
                    <p>Edited Information</p>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="d-table-row">
                <th class="table-active col-3">
                    <p>Location From</p>
                </th>
                <td class="col-3">
                    <p>@locFrom</p>
                </td>
                <th class="table-active col-3">
                    <p>Location From</p>
                </th>
                <td class="col-3">
                    <select asp-for="LocationFromId" class="form-control required-fields">
                        @{
                            for (int i = 0; i < addrsFromIds.Count; i++)
                            {
                                <option value=@addrsFromIds[i]>@addrsFromNames[i]</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="LocationFromId" class="text-danger"></span>
                </td>
            </tr>
            <tr class="d-table-row">
                <th class="table-active col-3">
                    <p>Location To</p>
                </th>
                <td class="col-3">
                    <p>@locTo</p>
                </td>
                <th class="table-active col-3">
                    <p>Location To</p>
                </th>
                <td class="col-3">
                    <select asp-for="LocationToId" class="form-control required-fields">
                        @{
                            for (int i = 0; i < addrsToIds.Count; i++)
                            {
                                <option value=@addrsToIds[i]>@addrsToNames[i]</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="LocationToId" class="text-danger"></span>
                </td>
            </tr>
            <tr class="d-table-row">
                <th class="table-active col-3">
                    <p>Take Off Date</p>
                </th>
                <td class="col-3">
                    <p>@flight.TakeOffDateTime.ToShortDateString()</p>
                </td>
                <th class="table-active col-3">
                    <p>Take Off Date</p>
                </th>
                <td class="col-3">
                    <input asp-for="TakeOffDateTime" class="form-control required-fields" type="datetime-local" />
                    <span asp-validation-for="TakeOffDateTime" class="text-danger"></span>
                </td>
            </tr>
            <tr class="d-table-row">
                <th class="table-active col-3">
                    <p>Duration</p>
                </th>
                <td class="col-3">
                    <p>@duration</p>
                </td>
                <th class="table-active col-3">
                    <p>Landing Date</p>
                </th>
                <td class="col-3">
                    <input asp-for="LandingDateTime" class="form-control required-fields" type="datetime-local" />
                    <span asp-validation-for="LandingDateTime" class="text-danger"></span>
                </td>
            </tr>
            <tr class="d-table-row">
                <th class="table-active col-3">
                    <p>Plane Unique Number</p>
                </th>
                <td class="col-3">
                    <p>@plane.UniquePlaneNumber</p>
                </td>
                <th class="table-active col-3">
                    <p>Plane Unique Number</p>
                </th>
                <td class="col-3">
                    <select asp-for="PlaneId" class="form-control required-fields">
                        @{
                            for (int i = 0; i < allPlanes.Count; i++)
                            {
                                <option value=@allPlanes[i].Id>@allPlanes[i].UniquePlaneNumber</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="PlaneId" class="text-danger"></span>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="form-group">
        <a type="button" name="backToAllFlightsBtn" class="btn btn-light" asp-area="" asp-controller="Flight" asp-action="AdminIndex">Back</a>
        <input type="submit" value="Edit" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}