@model FlightsManager.Models.Web.Reservation.IndexReservationViewModel
@{
    bool isLoggedIn = (bool)ViewData["isLoggedIn"];
    string unm = (string)ViewData["username"];
    if (isLoggedIn)
    {
        <p>Welcome, <strong style="color:darkred;">@unm</strong>!</p>
        <a type="button" class="btn btn-dark" asp-area="" asp-controller="Employee" asp-action="LogOut">LogOut</a>
        <a asp-controller="Reservation" class="btn btn-light" asp-action="ReservationDateSortedIndex">Sort By Reservation Date</a>
    }
    else
    {
        <a asp-controller="Reservation" class="btn btn-light" asp-action="ReservationDateSortedIndex">Sort By Reservation Date</a>
    }

    FlightsManager.Models.Data.FlightsManagerContext _context = new FlightsManager.Models.Data.FlightsManagerContext();
}

<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Reservation Date
            </th>
            <th>
                Location From
            </th>
            <th>
                Location To
            </th>
            <th>
                Passager Name
            </th>
            <th>
                Passager Family
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => _context.Countries.Find(_context.Addresses.Find(_context.Flights.Find(_context.Tickets.Find(item.TicketId).FlightId).LocationFromId).CountryId).Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => _context.Countries.Find(_context.Addresses.Find(_context.Flights.Find(_context.Tickets.Find(item.TicketId).FlightId).LocationToId).CountryId).Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => _context.Passagers.Find((from r in _context.ReservationPassagers where r.ResrvationId == item.Id select r).First().PassagerId).FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => _context.Passagers.Find((from r in _context.ReservationPassagers where r.ResrvationId == item.Id select r).First().PassagerId).LastName)
                </td>
                <td>
                    <a asp-controller="Reservation" asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
                <td>
                    <a asp-controller="Reservation" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
    <ul class="pagination">
        @for (var i = 1; i <= Model.Pager.PagesCount; i++)
        {
            <li class="page-item @(i == Model.Pager.CurrentPage ? "active" : "")">
                <a asp-route-Pager.CurrentPage="@i" class="page-link">@i</a>
            </li>
        }
    </ul>
</table>