@model FlightsManager.Models.Web.Reservation.AddReservationViewModel
@{
    ViewData["Title"] = "Login";

    bool isLoggedIn = (bool)ViewData["isLoggedIn"];
    string unm = (string)ViewData["username"];
    if (isLoggedIn)
    {
        <p>Welcome, <strong style="color:darkred;">@unm</strong>!</p>
        <a type="button" class="btn btn-dark" asp-area="" asp-controller="Employee" asp-action="LogOut">LogOut</a>
        <a asp-controller="Reservation" class="btn btn-light" asp-action="ReservationDateSortedIndex">Sort By Reservation Date</a>
    }
    else
    {
        <a asp-controller="Reservation" class="btn btn-light" asp-action="ReservationDateSortedIndex">Sort By Reservation Date</a>
    }

    FlightsManager.Models.Data.Flight resFlight = ViewData["resevationFlight"] as FlightsManager.Models.Data.Flight;

    FlightsManager.Models.Data.FlightsManagerContext ctx = new FlightsManager.Models.Data.FlightsManagerContext();
    string locFrom = ctx.LivingPlaces.Find(ctx.Addresses.Find(resFlight.LocationFromId).LivingPlaceId).Name + ", " + ctx.Countries.Find(ctx.Addresses.Find(resFlight.LocationFromId).CountryId).Name;
    string locTo = ctx.LivingPlaces.Find(ctx.Addresses.Find(resFlight.LocationToId).LivingPlaceId).Name + ", " + ctx.Countries.Find(ctx.Addresses.Find(resFlight.LocationToId).CountryId).Name;

    int reservationId = ctx.Reservations.Max(r => r.Id) + 1;
    string reservationDate = DateTime.Now.ToShortDateString();

    string upn = ctx.Planes.Find(resFlight.PlaneId).UniquePlaneNumber;
    string pilotFullName = ctx.Employees.Find(ctx.Planes.Find(resFlight.PlaneId).PilotId).Name + " " + ctx.Employees.Find(ctx.Planes.Find(resFlight.PlaneId).PilotId).Family;

    string takeOffDate = resFlight.TakeOffDateTime.ToShortDateString();
    string landingDate = resFlight.LandingDateTime.ToShortDateString();
    string duration = (resFlight.LandingDateTime - resFlight.TakeOffDateTime).TotalMinutes + " mins.";

    List<FlightsManager.Models.Data.Nationality> nationalities = (from n in ctx.Nationalities select n).ToList();
    List<FlightsManager.Models.Data.TicketType> ticketType = (from t in ctx.TicketTypes select t).ToList();
}

<hr />
<form method="post" asp-action="Create" class="container container-fluid form">
    <table class="table" id="resTbl">
        <thead>
            <tr class="d-table-row">
                <th class="table-active col-3">
                    <p>Reservation Number</p>
                </th>
                <td class="col-3">
                    <p asp-for="Id" type="text" class="form-control required-fields">@reservationId</p>
                </td>
                <th class="table-active col-3">
                    <p>Reservation Date</p>
                </th>
                <td class="col-3">
                    <p asp-for="ReservationDate" type="text" class="form-control required-fields">@reservationDate</p>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr class="d-table-row">
                <th class="table-active col-2" rowspan="2">
                    <p>Flight</p>
                </th>
                <th class="table-active col-2">
                    <p>Location From</p>
                </th>
                <th class="table-active col-2">
                    <p>Location To</p>
                </th>
                <th class="table-active col-2">
                    <p>Take Off Date</p>
                </th>
                <th class="table-active col-2">
                    <p>Landing Date</p>
                </th>
                <th class="table-active col-2">
                    <p>Duration</p>
                </th>
            </tr>
            <tr class="d-table-row">
                <td class="col-2">
                    <p>
                        @locFrom
                    </p>
                </td>
                <td class="col-2">
                    <p>
                        @locTo
                    </p>
                </td>
                <td class="col-2">
                    <p>
                        @takeOffDate
                    </p>
                </td>
                <td class="col-2">
                    <p>
                        @landingDate
                    </p>
                </td>
                <td class="col-2">
                    <p>
                        @duration
                    </p>
                </td>
            </tr>
            <tr class="d-table-row">
                <th class="table-active col-3" rowspan="2">
                    <p>Plane</p>
                </th>
                <th class="table-active col-3">
                    <p>Plane Type</p>
                </th>
                <th class="table-active col-3">
                    <p>Unique Plane Number</p>
                </th>
                <th class="table-active col-3">
                    <p>Pilot Name</p>
                </th>
            </tr>
            <tr class="d-table-row">
                <td class="col-3">
                    <p>
                        Airliner
                    </p>
                </td>
                <td class="col-3">
                    <p>
                        @upn
                    </p>
                </td>
                <td class="col-3">
                    <p>
                        @pilotFullName
                    </p>
                </td>
            </tr>
            <tr class="d-table-row">
                <th class="table-active col-2" rowspan="2">
                    <p>Personal Information</p>
                    <!--<button type="button" class="btn btn-info" onclick="addNewPassagerInputs();">Add</button>-->
                </th>
                <th class="table-active col-2">
                    <p>First Name</p>
                </th>
                <th class="table-active col-2">
                    <p>Second Name</p>
                </th>
                <th class="table-active col-2">
                    <p>Last Name</p>
                </th>
                <th class="table-active col-2">
                    <p>PIN</p>
                </th>
                <th class="table-active col-2">
                    <p>Nationality</p>
                </th>
            </tr>
            <tr id="pInfRow" class="d-table-row">
                <td class="col-2">
                    <input asp-for="FirstName" class="form-control required-fields" type="text" placeholder="First Name" />
                    <span class="text-danger required-fields-symbol">*</span><br />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </td>
                <td class="col-2">
                    <input asp-for="SecondName" class="form-control required-fields" type="text" placeholder="Second Name" />
                    <span class="text-danger required-fields-symbol">*</span><br />
                    <span asp-validation-for="SecondName" class="text-danger"></span>
                </td>
                <td class="col-2">
                    <input asp-for="LastName" class="form-control required-fields" type="text" placeholder="Last Name" />
                    <span class="text-danger required-fields-symbol">*</span><br />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </td>
                <td class="col-2">
                    <input asp-for="EGN" class="form-control required-fields" type="text" placeholder="Personal Identification Number" />
                    <span class="text-danger required-fields-symbol">*</span><br />
                    <span asp-validation-for="EGN" class="text-danger"></span>
                </td>
                <td class="col-2" id="nat">
                    <select asp-for="NationalityId" class="form-control required-fields" class="form-control required-fields">
                        @{
                            for (int i = 0; i < nationalities.Count; i++)
                            {
                                <option value=@nationalities[i].Id>@nationalities[i].Name</option>
                            }
                        }
                    </select>
                    <span class="text-danger required-fields-symbol">*</span><br />
                    <span asp-validation-for="NationalityId" class="text-danger"></span>
                </td>
            </tr>
            <tr class="d-table-row">
                <th class="table-active col-4" rowspan="2">
                    <p>Feedback</p>
                </th>
                <th class="table-active col-4">
                    <p>PhoneNumber</p>
                </th>
                <th class="table-active col-4">
                    <p>Email</p>
                </th>
            </tr>
            <tr class="d-table-row">
                <td class="col-4">
                    <input asp-for="PhoneNumber" class="form-control required-fields" type="text" placeholder="Phone Number" />
                    <span class="text-danger required-fields-symbol">*</span><br />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </td>
                <td class="col-4">
                    <input asp-for="Email" class="form-control required-fields" type="text" placeholder="Email" />
                    <span class="text-danger required-fields-symbol">*</span><br />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </td>
            </tr>
            <tr class="d-table-row">
                <th class="table-active col-12">
                    <p>Tickets</p>
                </th>
            </tr>
            <tr class="d-table-row">
                <th class="table-active col-3">
                    <p>Ticket Type</p>
                </th>
                <th class="table-active col-3">
                    <p>Ticket Count</p>
                </th>
                <th class="table-active col-3">
                    <p>Total Price</p>
                </th>
            </tr>
            <tr class="d-table-row">
                <td class="col-3">
                    <select asp-for="TicketTypeId">
                        @{
                            for (int j = 0; j < ticketType.Count; j++)
                            {

                                <option value=@ticketType[j].Id>@ticketType[j].Name</option>
                            }
                        }
                    </select>
                </td>
                <td class="col-3">
                    <p>1</p>
                </td>
                <td class="col-3">
                    <p>-</p>
                </td>
            </tr>
            <tr class="d-table-row">
                <td class="col-6">
                    <a href="/Flight/Index" class="btn btn-light">Cancel</a>
                </td>
                <td class="col-6">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </td>
            </tr>
        </tbody>
    </table>
    <!--<h4>Extra Passagers</h4>
    <div id="extrPassagers">

    </div>
    <br />-->
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}